<section class="courses">
    <div class="container">
        <div class="row gy-4" data-aos="fade-right">
            <div class="col-lg-12 about-heading d-flex justify-content-center mb-5">
                <h1>COURSES:</h1>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="service-box blue" id="blue">
                    <img src="/images/courses/html.svg" class="img-fluid mb-5" alt="course-img" id="course-img-1">
                    <h3>HTML &amp; CSS </h3>
                    <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores
                        iure perferendis
                        tempore et consequatur.</p>
                    <div class="hero-btn">
                        <a class="btn btn-primary px-4" href="#" role="button">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="service-box" id="orange">
                    <img src="/images/courses/java.svg" class="img-fluid mb-5" alt="course-img" id="course-img-2">
                    <h3>Javascript</h3>
                    <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores
                        iure perferendis
                        tempore et consequatur.</p>
                    <div class="hero-btn">
                        <a class="btn btn-primary px-4" href="#" role="button">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="service-box" id="red">
                    <img src="/images/courses/math.svg" class="img-fluid mb-5" alt="course-img" id="course-img-3">
                    <h3>Math</h3>
                    <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores
                        iure perferendis
                        tempore et consequatur.</p>
                    <div class="hero-btn">
                        <a class="btn btn-primary px-4" href="#" role="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4" data-aos="fade-left">
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="service-box blue" id="green">
                    <img src="/images/courses/download (7) 1.svg" class="img-fluid mb-5" alt="course-img"
                        id="course-img-4">
                    <h3>English</h3>
                    <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores
                        iure perferendis
                        tempore et consequatur.</p>
                    <div class="hero-btn">
                        <a class="btn btn-primary px-4" href="#" role="button">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="service-box" id="purple">
                    <img src="/images/courses/c.svg" class="img-fluid mb-5" alt="course-img" id="course-img-5">
                    <h3>C-Sharp</h3>
                    <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores
                        iure perferendis
                        tempore et consequatur.</p>
                    <div class="hero-btn">
                        <a class="btn btn-primary px-4" href="#" role="button">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="service-box" id="light-red">
                    <img src="/images/courses/Artificial_intelligence.svg" class="img-fluid mb-5" alt="course-img"
                        id="course-img-6">
                    <h3>Artificial Intelligence</h3>
                    <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores
                        iure perferendis
                        tempore et consequatur.</p>
                    <div class="hero-btn">
                        <a class="btn btn-primary px-4" href="#" role="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>