<header>
    <nav id="main-nav" class="navbar navbar-light navbar-expand-lg fixed-top px-3">
        <div class="container-fluid">
            <a class="navbar-brand brand" href="#" id="brand">
                <img src="/images/logo.png" alt="logo" width="30" height="24" class="d-inline-block align-top"
                    id="brandlogo">
                RELEARN
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav ms-auto me-4" id="nav-links">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="co#" class="nav-link">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="co#" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary px-4" href="#" role="button">Login</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>