<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/064bd45e56.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="/js/aos.css">
    <link rel="shortcut icon" href="/images/favicon-16x16.png" type="image/x-icon">
    <% if (address==="/user/signUp" ||address==="/user/signIn" ) { %>
        <link rel="stylesheet" href="/css/register.css">
        <% }%>
            <link rel="stylesheet" href="/css/app.css">
            <title>Relearn</title>
            <style>
                @media (max-width: 1000px) {
                    a.navbar-brand.brand {
                        width: 50% !important;
                        margin: 0 0.40rem 0 0 !important;
                    }
                }
            </style>
</head>

<body>
    <% if (address!=="/user/signUp" ) { %>
        <% if (address!=="/user/signIn" ) { %>
            <%- include('../partials/navbar') %>
                <% } %>
                    <% } %>
                        <main>
                            <%- include('../partials/flash') %>
                                <%- body %>
                        </main>
                        <% if (address!=="/user/signUp" ) { %>
                            <% if (address!=="/user/signIn" ) { %>
                                <%- include('../partials/footer') %>
                                    <% } %>
                                        <% } %>
                                            <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
                                                integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
                                                crossorigin="anonymous"></script>
                                            <script
                                                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                                                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                                                crossorigin="anonymous"></script>
                                            <script
                                                src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"
                                                integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u"
                                                crossorigin="anonymous"></script>
                                            <script src="/js/bootstrapFormValidation.js"></script>
                                            <script src="/js/formValidation.js"></script>
                                            <script src="/js/aos.js"></script>
                                            <script>
                                                AOS.init({
                                                    offset: 300,
                                                    duration: 1000
                                                });
                                            </script>
                                            <script>
                                                $(function () {
                                                    $(document).scroll(function () {
                                                        var $nav = $("#main-nav");
                                                        $nav.toggleClass("scroll", $(this).scrollTop() > $nav.height());
                                                    });
                                                });
                                            </script>
</body>

</html>