/* .signUp-form,.signIn-form{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  height: 100vh;
} */
body{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  height: 100vh;
}

.card-img-left {
  width: 45%;
  background-color: #6C63FF !important;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.form-floating{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-floating i{
  position: absolute;
  top: 20px;
  right: 10px;
  visibility: hidden;
}

.form-floating small{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-floating input{
  padding: 0.5rem 0.5rem !important;
  border: 2.5px solid #f0f0f0;
}
.form-floating select{
  padding: 0.5rem 0.5rem !important;
  border: 2.5px solid #f0f0f0;
}

.form-floating.success i.fa-check-circle{
  visibility: visible;
  color: #2ecc71;
}

.form-floating.error i.fa-exclamation-circle{
  visibility: visible;
  color: #dd0404;
}

.form-floating.error small{
  visibility: visible;
  color: #dd0404;
}

.form-floating.success input{
  border-color: #2ecc71;
}

.form-floating.error input{
  border-color: #dd0404;
}
.form-floating.success select{
  border-color: #2ecc71;
}

.form-floating.error select{
  border-color: #dd0404;
}