<% layout('layouts/boilerplate') %>
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container-fluid" id="hero-content">
            <div class="row">
                <div class="hero-heading col-lg-6 d-flex flex-column justify-content-center" id="hero-heading">
                    <h1>
                        We offer modern solutions for easy study
                    </h1>
                    <h2>
                        We provide the best possible study content
                    </h2>
                    <div class="hero-btn">
                        <a class="btn btn-primary px-4" href="#" role="button">Learn more</a>
                    </div>
                </div>
                <div class="hero-img col-lg-6">
                    <img src="/images/hero-img.png" class="img-fluid updown-animation" alt="hero-img">
                </div>
            </div>
        </div>
    </section>